/* zalando-sans-semiexpanded-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Zalando Sans SemiExpanded';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/zalando-sans-semiexpanded-v2-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* zalando-sans-semiexpanded-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Zalando Sans SemiExpanded';
  font-style: italic;
  font-weight: 200;
  src: url('../assets/fonts/zalando-sans-semiexpanded-v2-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* zalando-sans-semiexpanded-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Zalando Sans SemiExpanded';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/zalando-sans-semiexpanded-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* zalando-sans-semiexpanded-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Zalando Sans SemiExpanded';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/zalando-sans-semiexpanded-v2-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* zalando-sans-semiexpanded-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Zalando Sans SemiExpanded';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/zalando-sans-semiexpanded-v2-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* zalando-sans-semiexpanded-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Zalando Sans SemiExpanded';
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/zalando-sans-semiexpanded-v2-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}