/* color variables */
:root {
    --orange: orange;
    
}

/* general stylimg */
header, 
footer {
    height: 120px;
    width: 100%;
    background: var(--orange);
    display: flex;
    align-items: center;
}

main{
    min-height: calc(100vh - 240px);
    width: 100%;
}


/* headlines */

/* container */
.order_logo{
    height: 100px;
    width: 200px;
    margin: 10px;
}

.order_head_wrapper{
    position: relative;
}

.restaurant_main_logo{
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

/* .restaurant_logo{
} */

.rating{
    display: flex;
    gap: 8px;
}

.menu_images{
    height: 20vh;
    width: 100%;
    object-fit: cover;
}

.order_total_menu{
    display: flex;
}

.total_menu{
    width: calc(100% - 400px);
}

