/* color variables */
:root {
    --orange: orange;

}

/* general stylimg */
header,
footer {
    height: 120px;
    width: 100%;
    background: var(--orange);
    display: flex;
    align-items: center;
}

main {
    min-height: calc(100vh - 240px);
    width: 100%;
}

/* headlines */
h1 {
    margin: 8px;
}

h2 {
    margin: 8px;
}

h3 {
    margin: 8px;
    border: 1px solid tan;
    padding: 8px;
    text-align: center;
}

/* container */
.order_logo {
    height: 100px;
    width: 200px;
    margin: 10px;
}

.outer_head_wrapper {
    height: 40vh;
}

.order_head_wrapper {
    background-image: url(../assets/img/curry-9746675_1280.jpg);
    height: 35vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}

.restaurant_logo {
    height: 80px;
    width: 80px;
    background: tan;
    border-radius: 90%;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.restaurant_description {
    margin: 8px;
}

.rating {
    display: flex;
    gap: 8px;
    margin: 8px;
}

nav {
    margin: 8px;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
}

.menu_selection {
    padding: 8px;
}

.menu_selection_ref {
    margin: 8px;
    padding: 8px;
    border: 1px solid tan;
}

.menu_images {
    height: 20vh;
    width: 100%;
    object-fit: cover;
}

.order_total_menu {
    display: flex;
}

.total_menu {
    width: calc(100% - 400px);
}

dialog {
    width: 300px;
    height: 40px;
    margin: auto;
    border: 1px solid black;
    background: tan;
}

.content_dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

dialog::backdrop {
    background: rgba(255, 255, 255, 0.671)
}

/* media queries */
@media (max-width: 1023px) {
    .total_menu {
        flex-grow: 1;
    }

    .total_basket {
        flex-grow: unset;
    }
}

@media (max-width: 767px) {
    .total_basket {
        display: none;
    }

    .total_basket_mobile {
        max-height: 40vh;
        padding: 10px;
        background-color: rgb(210, 180, 140);
        position: sticky;
        bottom: 0;
        text-align: center;
        border: 1px black;
    }

    .basket_content_mobile {
        max-height: 20vh;
        overflow-y: scroll;
        scrollbar-width: none;
        border: 0.5px black;
    }

    .amount_content_mobile {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    .basket_toggle_button {
        display: block;
    }
}

@media (max-width: 425px) {

    header,
    footer {
        height: 100px;
    }

    .order_logo {
        height: 80px;
        width: 180px;
        margin: 10px;
    }

    .total_basket_mobile {
        padding: 4px;
        font-size: 12px;
    }

    dialog {
        width: 250px;
    }
}