/* color variables */
:root {
    --orange: orange;
    
}

/* general stylimg */
header, 
footer {
    height: 120px;
    width: 100%;
    background: var(--orange);
    display: flex;
    align-items: center;
}

main{
    min-height: calc(100vh - 240px);
    width: 100%;
}


/* headlines */

/* container */
.order_logo{
    height: 100px;
    width: 200px;
    margin: 10px;
}

.restaurant_logo{
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.menu_images{
    height: 20vh;
    width: 100%;
    object-fit: cover;
}