/* color variables */
:root {
    --orange: orange;
    
}

/* general stylimg */
header, 
footer {
    height: 120px;
    width: 100%;
    background: var(--orange);
}

main{
    min-height: calc(100vh - 240px);
    width: 100%;
}