/* color variables */
:root {
    --orange: orange;

}

/* general stylimg */
header,
footer {
    height: 120px;
    width: 100%;
    background: var(--orange);
    display: flex;
    align-items: center;
}

main {
    min-height: calc(100vh - 240px);
    width: 100%;
}


/* headlines */
h1 {
    margin: 8px;
}

h2 {
    margin: 8px;
}

h3 {
    margin: 8px;
    border: 1px solid tan;
    padding: 8px;
    text-align: center;
}

/* container */
.order_logo {
    height: 100px;
    width: 200px;
    margin: 10px;
}

.order_head_wrapper {
    position: relative;
}

.restaurant_main_logo {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

/* .restaurant_logo{
    position: absolute;
    z-index: 1;
} */

.rating {
    display: flex;
    gap: 8px;
    margin: 8px;
}

nav {
    padding: 8px;
}

.menu_selection {
    padding: 8px;
}

.menu_selection_ref {
    margin: 8px;
    padding: 8px;
    border: 1px solid tan;
}

.menu_images {
    height: 20vh;
    width: 100%;
    object-fit: cover;
}

.order_total_menu {
    display: flex;
}

.total_menu {
    width: calc(100% - 400px);
}

@media (max-width: 1023px) {
    .total_menu {
        flex-grow: 1;
    }

    .total_basket {
        flex-grow: unset;
    }
}

@media (max-width: 767px) {
    .total_basket {
        display: none;
    }

    .total_basket_mobile {
        display: block;
        max-height: 40vh;
        padding: 10px;
        background-color: rgb(210, 180, 140);
        position: sticky;
        bottom: 0;
        text-align: center;
        border: 1px black;
    }

    .basket_content_mobile {
        max-height: 20vh;
        overflow-y: scroll;
        scrollbar-width: none;
        border: 0.5px black;
    }

    .amount_content_mobile {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    .basket_toggle_button {
        display: block;
    }


}